{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Coloring</title>

	<link rel="stylesheet" type="text/css" href="{% static '/coloring/vendors/bootstrap/css/bootstrap.css' %}" />

</head>
<style>

  .filter-blue{
        filter: invert(41%) sepia(73%) saturate(2299%) hue-rotate(209deg) brightness(101%) contrast(94%);
    }

    #current {
        color: #4E7EF8;
    }

    #logo {
      /* width: 20%;
      height: 20%; */
      width: 64px;
      height: 65px;
    }

</style>
<body>

<div class="container-flex">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img id="logo" src="{% static '/coloring/images/logo.png' %}" alt="">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="../coloring/work">
              <img src="{% static '/coloring/images/paper-icon.svg' %}"  alt="" > &nbsp Work
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../coloring/gallery">
            <img src="{% static '/coloring/images/gallery icon.svg' %}"  alt=""> &nbsp Gallery
          </a>
        </li>
        <li class="nav-item">
          <a id="current" class="nav-link" href="">
            <img class="filter-blue" src="{% static '/coloring/images/Vector.svg' %}" alt=""> &nbsp Explore
          </a>
        </li>
      </ul>
    </div>
  </nav>

    <!-- gallery images -->
    <div class="container">
      <div class="row pt-5">
        <div class="col">
          <img src="{% static '/coloring/images/cotton-candy.svg' %}" alt="" class="img-thumbnail"></div>
          <div class="col">
          <img src="{% static '/coloring/images/connection.svg' %}" alt="" class="img-thumbnail"></div>
          <div class="col">
          <img src="{% static '/coloring/images/family-port.svg' %}" alt="" class="img-thumbnail"></div>
      </div>
      <div class="row p-0">
        <div class="col">Cotton Candy Sunset</div>
          <div class="col">Connections</div>
          <div class="col">Family Portraits</div>
      </div>
      <div class="row pt-5">
        <div class="col">
          <img src="{% static '/coloring/images/illuminati.svg' %}" alt="" class="img-thumbnail"></div>
          <div class="col">
          <img src="{% static '/coloring/images/i-see.svg' %}" alt="" class="img-thumbnail"></div>
          <div class="col">
          <img src="{% static '/coloring/images/cool-hat.svg' %}" alt="" class="img-thumbnail"></div>
      </div>
      <div class="row p-0">
        <div class="col">Illuminati</div>
          <div class="col">Conciousness</div>
          <div class="col">A Very Cool Hat</div>
      </div>
    </div>
